@font-face {
    font-family: 'IBM Plex Mono';
    src: url('IBMPlexMono-Medium.ttf');
}

:root {
    --bg-color: #1d1e1e;
    --header-color: black;
    --locked-color: #d48181;
    --unlocked-color: #89d481;
    --maxed-color: #81c7d4;
    --prestige-color: #b862ff;
    --prophecy-color: #fdff70;
    --enlightenment-color: #fff38b;
}

/*Globals*/

@keyframes ghostifybtntext { 
    0%{color: #ff0000;}
    17% {color: #ffff00;}
    33%{color: #00ff00;}
    50%{color: #00ffff;}
    67%{color: #0000ff;}
    83%{color: #ff00ff;}
    100%{color: #ff0000;}
}

* {
    margin: 0%;
    font-family: 'IBM Plex Mono';
    color: whitesmoke;
}
body {
    user-select: none;
    background-color: var(--bg-color);
}
button {
    user-select: none;
    background-color: var(--bg-color);
    border-width: 2px;
    border-color: whitesmoke;
    border-style: solid;
    transition-duration: 0.5s;
}
button:hover {
    background-color: whitesmoke;
    color: var(--bg-color);
    
    transition-duration: 0.5s;
}
img {height: 3.25em; width: 3.25em;}
h1,h2,h3,h4 { margin-bottom: 1vh;}
/*Classes*/
.flexCol {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexCol .flexEgg {
    width: 300px;
    height: 420px;
    align-items: flex-start;
    justify-content: flex-start;
}
.modalContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6969;
    padding: 5px;
    border-radius: 3px;
    border: 4px solid;
    background-color: var(--bg-color);
}
.tabHolder {padding:1vw 1vh 1vw 1vh;}


.locked {color:var(--locked-color);border-color: var(--locked-color);background-color: var(--header-color);}
.locked:hover {color: whitesmoke;border-color: var(--locked-color);background-color: var(--locked-color);}
.unlocked {color:var(--unlocked-color);border-color: var(--unlocked-color);background-color: var(--header-color);}
.unlocked:hover {color: whitesmoke;border-color: var(--unlocked-color);background-color: var(--unlocked-color);}

.lockedPromote {color:var(--locked-color);border-color: var(--locked-color);background-color: var(--header-color);}
.lockedPromote:hover {color:var(--locked-color);border-color: var(--locked-color);background-color: var(--locked-color);}
.unlockedPromote {color:var(--unlocked-color);border-color: var(--unlocked-color);background-color: var(--header-color);}
.unlockedPromote:hover {color:var(--unlocked-color);border-color: var(--unlocked-color);background-color: var(--unlocked-color);}

.lockedResearch {color:var(--locked-color);border-color: var(--locked-color);}
.lockedResearch:hover {color: var(--bg-color);border-color: var(--locked-color);background-color: var(--locked-color);}
.unlockedResearch {color:var(--unlocked-color);border-color: var(--unlocked-color);}
.unlockedResearch:hover {color: var(--bg-color);border-color: var(--unlocked-color);background-color: var(--unlocked-color);}
.maxedResearch {color: var(--maxed-color);border-color: var(--maxed-color);}
.maxedResearch:hover {color: var(--bg-color);border-color: var(--maxed-color);background-color: var(--maxed-color);}

.prestige {border-color:var(--prestige-color);color: var(--prestige-color);}
.prestige:hover {border-color: var(--prestige-color);color: whitesmoke;background-color: var(--prestige-color);}
.prestigeHeader {border-color:var(--prestige-color);color: var(--prestige-color);background-color: var(--header-color);}
.prestigeHeader:hover {border-color: var(--prestige-color);color: var(--header-color);background-color: var(--prestige-color);}

.enlightenment {border-color:var(--enlightenment-color);color: var(--enlightenment-color);}
.enlightenment:hover {border-color: var(--enlightenment-color);color: var(--bg-color);background-color: var(--enlightenment-color);}

.achLock {width: 2em;height: 2em;border: 2px solid #9c0f0f;padding: 3px;margin: 4px;}
.achUnlock {width: 2em;height: 2em;border: 2px solid #1a9c0f;padding: 3px;background-color: var(--unlocked-color);margin: 4px;}
.achPlaceholder {width: 2em;height: 2em;border: 2px solid #8e9c0f;padding: 3px;margin: 4px;}
.credit {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.credit img {width: 1.5em; height: 1.5em; margin-right:1em;}
.credit a {text-align: center; font-size: 1.2em;}

.badge-red {
    background-color: var(--locked-color);
    color: whitesmoke;
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
}

.badge-green {
    background-color: var(--unlocked-color);
    color: whitesmoke;
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
}

.badge-blue {
    background-color: var(--maxed-color);
    color: whitesmoke;
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
}

.badge-yellow {
    background-color: #c6d481;
    color: #363636;
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
}

.notifyjs-bootstrap-base {
	font-weight: bold;
	padding: 8px 15px 8px 14px;
	background-color: #fcf8e3;
	border: 3px solid #fbeed5;
	white-space: nowrap;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: 3px 7px;
}
.notifyjs-bootstrap-error {
	color: whitesmoke;
	background-color: var(--locked-color);
	border-color: var(--locked-color);
}
.notifyjs-bootstrap-success {
	color: whitesmoke;
	background-color: var(--unlocked-color);
	border-color: var(--unlocked-color);
}
.notifyjs-bootstrap-info {
	color: whitesmoke;
	background-color: var(--maxed-color);
	border-color: var(--maxed-color);
}
.notifyjs-bootstrap-warn {
	color: whitesmoke;
	background-color: var(--prophecy-color);
	border-color: var(--prophecy-color);
}

/*IDs*/
#mainHeader {
    width: 100%;
    height: 7vh;
    background-color: var(--header-color);
    color:black;
}
#mainButton {
    position: fixed;
    width: 50%;
    height: auto;
    font-size: 1.5em;
    top: 95%;
    border-color: #dd3131;
    color: #dd3131;
}
#mainButton:hover {
    background-color: #dd3131;
    color: var(--background-color);
    border-color: #dd3131;
}
#researchCol {margin:4px;}
#researchCol button {margin-bottom: 1vh;}
@media only screen and (max-width: 480px) {
    #researchHolder {
        overflow: scroll;
    }
}
#newsHolder {
    border: 2px solid whitesmoke;
    border-radius: 4px;
    padding: 2px;
    width: 45%;
    overflow:hidden;
    margin:auto;
    margin-top: 0.5vh;
    text-align: left;
}

#news {
    color:inherit;
    position: relative;
    display:inline-block;
    font-size:15px;
    font-family:inherit;
    white-space: nowrap;
    font-weight: bold;
}
#eggPromoteButton{
  --x: 0%;
  --y: 0%;
  background: linear-gradient(
    90deg,
    #1a9c0f 0%,
    #1a9c0f var(--x),
    #8e9c0f var(--x),
    #8e9c0f var(--y),
    #9c0f0f var(--y),
    #9c0f0f 100% 
  );
}
.notifyjs-corner, .notifyjs-hidable , .notifyjs-container, .notifyjs-container div span { background-color: rgba(0, 0, 0, 0); color:black;}
#planetRow img {width: 5em; height: 5em; margin:1em}

#changelogHolder h4, #changelogHolder h3, #changelogHolder p {margin-bottom: 1vh;}
#changelogHolder {max-width: 85%;}

#mainHeader img, #mainHeader h2, #mainHeader div {background-color: var(--header-color);}
#mainHeader div {margin: 1vh; color:whitesmoke}
#moneyText {animation: ghostifybtntext 16s linear infinite;}
#promptInput {background-color: var(--bg-color); border: 2px solid; border-radius: 2px;}
/*
<div class="notifyjs-wrapper notifyjs-hidable">
	<div class="notifyjs-arrow"></div>
	<div class="notifyjs-container" style=""><div class="notifyjs-bootstrap-base notifyjs-bootstrap-info">
<span data-notify-text="">Hello World</span>
</div>
*/