---
import "../Styles/styles.css"
import "../Scripts/Internal/jquery-3.6.0.min.js"
import "../Scripts/Internal/notify.js"
---
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mrbacon470.github.io/Coop-Co/">
    <meta property="og:title" content="Coop Co v1.1.5">
    <meta property="og:description" content="Coop Co made by VoidCloud.">
    <meta property="og:image" content="https://mrbacon470.github.io/Coop-Co/Imgs/Eggs/egg.png">
    <link id="faviconLink" rel="icon" type="image/png" href="./public/Images/egg.png">
    <title>Coop Co</title>
</head>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
