---
import "../Styles/styles.css"
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/Images/VoidWish.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link id="faviconLink" rel="icon" type="image/png" href="Images/Eggs/egg.png">
    <title>Coop Co</title>
</head>

<body>

</body>