<div id="achievementTab" class="flexCol tabHolder">
    <h3>Achievements</h3>
    <div style="display:flex;flex-direction: row;margin: 0 1vh 1vw 1vh;">
        <div class="flexCol">
            <img id="ach0">
            <img id="ach1">
            <img id="ach2">
            <img id="ach3">
            <img id="ach4">
            <img id="ach5">
            <img id="ach6">
            <img id="ach7">
        </div>
        <div class="flexCol">
            <img id="ach8">
            <img id="ach9">
            <img id="ach10">
            <img id="ach11">
            <img id="ach12">
            <img id="ach13">
            <img id="ach14">
            <img id="ach15">
        </div>  
        <div class="flexCol">
            <img id="ach16">
            <img id="ach17">
            <img id="ach18">
            <div class="achPlaceholder"></div>
            <img id="ach19">
            <img id="ach20">
            <img id="ach21">
            <img id="ach22">
        </div>  
        <div class="flexCol">
            <img id="ach23">
            <img id="ach24">
            <img id="ach25">
            <img id="ach26">
            <img id="ach27">
            <img id="ach28">
            <img id="ach29">
            <img id="ach30">
        </div>
        <div class="flexCol">
            <img id="ach31">
            <img id="ach32">
            <img id="ach33">
            <img id="ach34">
            <img id="ach35">
            <img id="ach36">
            <div class="achPlaceholder"></div>
            <div class="achPlaceholder"></div>
        </div>
        <div class="flexCol">
            <img id="ach37">
            <img id="ach38">
            <img id="ach39">
            <img id="ach40">
            <img id="ach41">
            <img id="ach42">
            <img id="ach43">
            <img id="ach44">
        </div>
    </div>
    <p id="achHoverText" style="text-align:center">Hover Over An Image to See Its Description</p>
    <h4 id="achCompletionText">Achievements Completed: 0/36 [0.00%]</h4>
</div>

<script>
    
</script>