<div id="achievementTab" class="flexCol tabHolder">
    <h3>Achievements</h3>
    <div id="achievementHolder" style="display:flex;flex-direction: row;margin: 0 1vh 1vw 1vh;"></div>
    <p id="achHoverText" style="text-align:center">Hover Over An Image to See Its Description</p>
    <h4 id="achCompletionText">Achievements Completed: 0/36 [0.00%]</h4>
</div>

<style is:inline>
.achUnlock {height: 2em; width: 2em; margin: .25em; padding: 2px; border: 2px solid var(--white); border-radius: 5px; background-color: var(--green);}
.achLock {height: 2em; width: 2em; margin: .25em; padding: 2px; border: 2px solid var(--white); border-radius: 5px; background-color: var(--red);}
.achPlaceholder {height: 2em; width: 2em; margin: .25em; padding: 2px; border: 2px solid var(--white); border-radius: 5px; background-color: var(--gray);}
</style>