<div id="ascensionTab" class="flexCol tabHolder">
    <h3 style="color: var(--orange)">Ascension</h3>
    <div class="flexRow" style="margin-bottom:1vh">
        <button id="ascSubButton0" class="orangeButton">Ascension</button>
        <button id="ascSubButton1" class="orangeButton">Harvesters</button>
        <button id="ascSubButton2" class="orangeButton">Reliquary</button>
        <button id="ascSubButton3" class="orangeButton">Forge</button>
    </div>
    <div id="ascSub0" class="flexCol">
        <div class="flexRow" style="margin-bottom: 1vh;">
            <img src="/Images/Eggs/knowlegg.png">
            <h4 id="knowleggText" style="color:var(--yellow)">Knowlegg: 0.00</h4>
        </div>
        <div class="flexCol" style="margin-bottom: 1vh;">
            <div id="legendaryResearchRow" class="flexRow">
                <button id="lr0">LegRes0</button>
                <button id="lr1">LegRes1</button>
                <button id="lr2">LegRes2</button>
                <button id="lr3">LegRes3</button>
            </div>
        </div>
    </div>
    <div id="ascSub1" class="flexCol">
        <h3 style="color: var(--orange)">Harvesters</h3>
    </div>
    <div id="ascSub2" class="flexRow">
        <div class="flexCol">
            <h3 style="color: var(--orange)" style="margin-bottom:1vh">Reliquary</h3>
            <div id="activeArtifactHolder" class="flexRow">
                <img id="artifactHolder0" class="artifactHolder-inactive">
                <div class="flexCol" style="margin-right:1vw">
                    <img id="gemHolder0" src="" class="gemHolder-restricted">
                    <img id="gemHolder1" src="" class="gemHolder-restricted">
                    <img id="gemHolder2" src="" class="gemHolder-restricted">
                </div>
                <img id="artifactHolder1" class="artifactHolder-inactive">
                <div class="flexCol" style="margin-right:1vw">
                    <img id="gemHolder3" src="" class="gemHolder-restricted">
                    <img id="gemHolder4" src="" class="gemHolder-restricted">
                    <img id="gemHolder5" src="" class="gemHolder-restricted">
                </div>
                <img id="artifactHolder2" class="artifactHolder-inactive">
                <div class="flexCol" style="margin-right:1vw">
                    <img id="gemHolder6" src="" class="gemHolder-restricted">
                    <img id="gemHolder7" src="" class="gemHolder-restricted">
                    <img id="gemHolder8" src="" class="gemHolder-restricted">
                </div>
                <img id="artifactHolder3" class="artifactHolder-inactive">
                <div class="flexCol" style="margin-right:1vw">
                    <img id="gemHolder9" src="" class="gemHolder-restricted">
                    <img id="gemHolder10" src="" class="gemHolder-restricted">
                    <img id="gemHolder11" src="" class="gemHolder-restricted">
                </div>
            </div>
            <p id="artifactSelectionText" style="color: var(--orange);margin-bottom:3vh">No Slot Selected</p>
            <h3 style="color: var(--orange);margin-bottom:1vh">Artifact Storage</h3>
            <div id="artifactStorage" class="flexRow"></div>
            <p id="artifactHoverText" style="color:var(--orange)"></p>
        </div>
    </div>
    <div id="ascSub3" class="flexCol">
        <h3 style="color: var(--orange)">Forge</h3>
    </div>
</div>

<style is:inline>
.artifactHolder-active {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--orange);
    padding: 2px;
    height: 6em;
    width: 6em;
}

.artifactHolder-inactive {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--gray);
    padding: 2px;
    height: 6em;
    width: 6em;
}

.gemHolder-active {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--orange);
    padding: 2px;
    height: 2em;
    width: 2em;
}

.gemHolder-inactive {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--gray);
    padding: 2px;
    height: 2em;
    width: 2em;
}

.gemHolder-restricted {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--red);
    padding: 2px;
    height: 2em;
    width: 2em;
}

.artifactSlot {
    height: 2em; 
    width: 2em; 
    margin: .25em; 
    padding: 2px; 
    border: 2px solid var(--darkgray); 
    border-radius: 5px; 
    background-color: var(--gray);
}

.artifactSlot-orange {
    height: 2em; 
    width: 2em; 
    margin: .25em; 
    padding: 2px; 
    border: 2px solid var(--darkgray); 
    border-radius: 5px; 
    background-color: var(--orange);
}

.artifactSlot-blue {
    height: 2em; 
    width: 2em; 
    margin: .25em; 
    padding: 2px; 
    border: 2px solid var(--darkgray); 
    border-radius: 5px; 
    background-color: var(--blue);
}
</style>