<div id="ascensionTab" class="flexCol tabHolder">
    <h3 style="color: var(--orange)">Ascension</h3>
    <div class="flexRow" style="margin-bottom:1vh">
        <button id="ascSubButton0" class="orangeButton">Ascension</button>
        <button id="ascSubButton1" class="orangeButton">Harvesters</button>
        <button id="ascSubButton2" class="orangeButton">Reliquary</button>
        <button id="ascSubButton3" class="orangeButton">Stats & Loadouts</button>
    </div>
    <div id="ascSub0" class="flexCol">
        <div class="flexRow" style="margin-bottom: 1vh;">
            <img src="/Images/Eggs/knowlegg.png">
            <h4 id="knowleggText" style="color:var(--yellow)">Knowlegg: 0.00</h4>
        </div>
        <div class="flexCol" style="margin-bottom: 1vh;">
            <div id="legendaryResearchRow" class="flexRow">
                <button id="lr0">LegRes0</button>
                <button id="lr1">LegRes1</button>
                <button id="lr2">LegRes2</button>
                <button id="lr3">LegRes3</button>
            </div>
            <div id="legendaryResearchRow" class="flexRow">
                <button id="lr4">LegRes0</button>
                <button id="lr5">LegRes1</button>
                <button id="lr6">LegRes2</button>
                <button id="lr7">LegRes3</button>
            </div>
            <div class="flexRow">
                <button id="ba2" class="orangeButton"></button>
            </div>
        </div>
    </div>
    <div id="ascSub1" class="flexCol">
        <h3 style="color: var(--orange)">Harvesters</h3>
        <div class="flexRow" style="margin-bottom:1em;">
            <div id="harvesterHolder0" class="flexRow harvesterHolder">
                <img id="harvesterImg0" class="harvesterImg-inactive" src="/Images/Pickaxe.png">
                <div class="flexCol">
                    <p id="harvesterText0" style="color:var(--orange)">Arcturus Harvester - Level: 1</p>
                    <button id="harvesterButton0" class="orangeButton">Test</button>
                </div>
            </div>
            <div id="harvesterHolder1" class="flexRow harvesterHolder">
                <img id="harvesterImg1" class="harvesterImg-inactive" src="/Images/Pickaxe.png">
                <div class="flexCol">
                    <p id="harvesterText1" style="color:var(--orange)">Ravnar Harvester - Level: 1</p>
                    <button id="harvesterButton1" class="orangeButton">Test</button>
                </div>
            </div>
            <div id="harvesterHolder2" class="flexRow harvesterHolder">
                <img id="harvesterImg2" class="harvesterImg-inactive" src="/Images/Pickaxe.png">
                <div class="flexCol">
                    <p id="harvesterText2" style="color:var(--orange)">Xylok Harvester - Level: 1</p>
                    <button id="harvesterButton2" class="orangeButton">Test</button>
                </div>
            </div>
        </div>
        <div class="flexRow" style="margin-bottom:1em;">
            <div id="harvesterHolder3" class="flexRow harvesterHolder">
                <img id="harvesterImg3" class="harvesterImg-inactive" src="/Images/Pickaxe.png">
                <div class="flexCol">
                    <p id="harvesterText3" style="color:var(--orange)">Trition Harvester - Level: 1</p>
                    <button id="harvesterButton3" class="orangeButton">Test</button>
                </div>
            </div>
            <div id="harvesterHolder4" class="flexRow harvesterHolder">
                <img id="harvesterImg4" class="harvesterImg-inactive" src="/Images/Pickaxe.png">
                <div class="flexCol">
                    <p id="harvesterText4" style="color:var(--orange)">Hereth Harvester - Level: 1</p>
                    <button id="harvesterButton4" class="orangeButton">Test</button>
                </div>
            </div>
            <div id="harvesterHolder5" class="flexRow harvesterHolder">
                <img id="harvesterImg5" class="harvesterImg-inactive" src="/Images/Pickaxe.png">
                <div class="flexCol">
                    <p id="harvesterText5" style="color:var(--orange)">Malak Harvester - Level: 1</p>
                    <button id="harvesterButton5" class="orangeButton">Test</button>
                </div>
            </div>
        </div>
        <p id="harvesterHoverText" style="color:var(--orange);text-align:center;margin-bottom:1em;">
            Hover over harvester to see Info
        </p>
        <div class=flexRow>
            <button id="harvesterUpgradeButton" class="orangeButton">Upgrade Harvester!</button>
            <button id="runAllHarvestersButton" class="orangeButton">Run All Harvesters</button>
        </div>
        
    </div>
    <div id="ascSub2" class="flexRow">
        <div class="flexCol">
            <h3 style="color: var(--orange)" style="margin-bottom:1vh">Reliquary</h3>
            <div id="activeArtifactHolder" class="flexRow">
                <img id="artifactHolder0" class="artifactHolder-inactive">
                <div class="flexCol" style="margin-right:1vw">
                    <img id="gemHolder0" src="" class="gemHolder-restricted">
                    <img id="gemHolder1" src="" class="gemHolder-restricted">
                    <img id="gemHolder2" src="" class="gemHolder-restricted">
                </div>
                <img id="artifactHolder1" class="artifactHolder-inactive">
                <div class="flexCol" style="margin-right:1vw">
                    <img id="gemHolder3" src="" class="gemHolder-restricted">
                    <img id="gemHolder4" src="" class="gemHolder-restricted">
                    <img id="gemHolder5" src="" class="gemHolder-restricted">
                </div>
                <img id="artifactHolder2" class="artifactHolder-inactive">
                <div class="flexCol" style="margin-right:1vw">
                    <img id="gemHolder6" src="" class="gemHolder-restricted">
                    <img id="gemHolder7" src="" class="gemHolder-restricted">
                    <img id="gemHolder8" src="" class="gemHolder-restricted">
                </div>
                <img id="artifactHolder3" class="artifactHolder-inactive">
                <div class="flexCol" style="margin-right:1vw">
                    <img id="gemHolder9" src="" class="gemHolder-restricted">
                    <img id="gemHolder10" src="" class="gemHolder-restricted">
                    <img id="gemHolder11" src="" class="gemHolder-restricted">
                </div>
            </div>
            <p id="artifactSelectionText" style="color: var(--orange);margin-bottom:3vh">Click an Artifact Slot or Gem Slot Above to Select</p>
            <div class="flexRow">
                <div class="flexCol">
                    <h3 style="color: var(--orange);margin-bottom:1vh">Artifact Storage</h3>
                    <div id="artifactStorage" class="flexRow"></div>
                    <p id="artifactHoverText" style="color:var(--orange)">Click on a Artifact or Gem to see information</p>
                </div>
                <div class="verticalDivider"></div>
                <div class="flexCol">
                    <h3 style="color: var(--orange); margin-bottom: 1vh;">Artifact Forging</h3>
                    <p id="artifactCraftingInfo" style="color: var(--orange); margin-bottom: 1vh;min-width:20em;max-width: 20em;text-align:center">
                        Click on a Artifact or Gem<br>to see crafting info!
                    </p>
                    <button id="artifactCraftingButton">Craft!</button>
                </div>
            </div>
        </div>
    </div>
    <div id="ascSub3" class="flexCol">
        <h3 style="color:var(--orange);margin-bottom:1em">Reliquary Stats & Loadouts</h3>
        <div class="flexRow" style="margin-bottom:1em">
            <div class="flexCol" style="margin-right:1vw">
                <h3 style="color:var(--orange)">Artifact Boosts</h3>
                <p id="artifactBoostStats" style="color:var(--orange)"></p>
            </div>
            <div class="flexCol" style="margin-left:1vw">
                <h3 style="color:var(--orange)">Gem Boosts</h3>
                <p id="gemBoostStats" style="color:var(--orange)"></p>
            </div>
        </div>
        <p id="activeLoadoutText" style="color:var(--orange)">Current Loadout: 1</p>
        <div class="flexRow">
            <button id="artifactLoadoutButton0" class="orangeButton">Select Loadout 1</button>
            <button id="artifactLoadoutButton1" class="orangeButton">Select Loadout 2</button>
            <button id="artifactLoadoutButton2" class="orangeButton">Select Loadout 3</button>
        </div>
        <div class="flexRow">
            <button id="saveLoadoutButton" class="orangeButton">Save Selected Loadout</button>
            <button id="loadLoadoutButton" class="orangeButton">Load Selected Loadout</button>
        </div>
    </div>
</div>

<style is:inline>
.artifactHolder-active {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--orange);
    padding: 2px;
    height: 6em;
    width: 6em;
}

.artifactHolder-inactive {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--gray);
    padding: 2px;
    height: 6em;
    width: 6em;
}

.artifactHolder-selected {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--blue);
    padding: 2px;
    height: 6em;
    width: 6em;
}

.gemHolder-active {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--orange);
    padding: 2px;
    height: 2em;
    width: 2em;
}

.gemHolder-inactive {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--gray);
    padding: 2px;
    height: 2em;
    width: 2em;
}

.gemHolder-restricted {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--red);
    padding: 2px;
    height: 2em;
    width: 2em;
}

.gemHolder-selected {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--blue);
    padding: 2px;
    height: 2em;
    width: 2em;
}

.artifactSlot {
    height: 2em; 
    width: 2em; 
    margin: .25em; 
    padding: 2px; 
    border: 2px solid var(--darkgray); 
    border-radius: 5px; 
    background-color: var(--gray);
}

.artifactSlot-active {
    height: 2em; 
    width: 2em; 
    margin: .25em; 
    padding: 2px; 
    border: 2px solid var(--darkgray); 
    border-radius: 5px; 
    background-color: var(--orange);
}

.artifactSlot-selected {
    height: 2em; 
    width: 2em; 
    margin: .25em; 
    padding: 2px; 
    border: 2px solid var(--darkgray); 
    border-radius: 5px; 
    background-color: var(--blue);
}

.harvesterImg-inactive {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--gray);
    padding: 2px;
    height: 4em;
    width: 4em;
}

.harvesterHolder {
    height: 5em;
    padding: 2px;
    margin: .5em;
    border: 2px solid var(--orange);
    border-radius: 5px;
}

.harvesterImg-active {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--green);
    padding: 2px;
    height: 4em;
    width: 4em;
}

.harvesterImg-selected {
    margin: .25em;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--blue);
    padding: 2px;
    height: 4em;
    width: 4em;
}

.verticalDivider {
    margin-left: 2em;
    margin-right: 2em;
    border-left: 2px solid var(--orange);
    height: 20em;
    display: inline-block;
}
</style>