<div id="ascensionTab" class="flexCol tabHolder">
    <h3 style="color: var(--orange)">Ascension</h3>
    <div class="flexRow" style="margin-bottom:1vh">
        <button id="ascSubButton0" class="orangeButton">Ascension</button>
        <button id="ascSubButton1" class="orangeButton">Harvesters</button>
        <button id="ascSubButton2" class="orangeButton">Reliquary</button>
        <button id="ascSubButton3" class="orangeButton">Forge</button>
    </div>
    <div id="ascSub0" class="flexCol">
        <div class="flexRow" style="margin-bottom: 1vh;">
            <img src="/Images/Eggs/knowlegg.png">
            <h4 id="knowleggText" style="color:var(--yellow)">Knowlegg: 0.00</h4>
        </div>
        <div class="flexCol" style="margin-bottom: 1vh;">
            <div id="legendaryResearchRow" class="flexRow">
                <button id="lr0">LegRes0</button>
                <button id="lr1">LegRes1</button>
                <button id="lr2">LegRes2</button>
                <button id="lr3">LegRes3</button>
            </div>
        </div>
    </div>
    <div id="ascSub1" class="flexCol">
        <h3 style="color: var(--orange)">Harvesters</h3>
    </div>
    <div id="ascSub2" class="flexCol">
        <h3 style="color: var(--orange)">Reliquary</h3>
        <div id="activeArtifactHolder" class="flexRow">
            <img id="artifactHolder0" class="artifactHolder">
            <img id="artifactHolder1" class="artifactHolder">
            <img id="artifactHolder2" class="artifactHolder">
            <img id="artifactHolder3" class="artifactHolder">
        </div>
        <h3 style="color: var(--orange)">Artifact Storage</h3>
        <div id="artifactStorage" class="flexRow">
            <div class="flexCol">
                <img id="artifactSlot0" class="artifactSlot">
                <img id="artifactSlot1" class="artifactSlot">
                <img id="artifactSlot2" class="artifactSlot">
                <img id="artifactSlot3" class="artifactSlot">
                <img id="artifactSlot4" class="artifactSlot">
                <img id="artifactSlot5" class="artifactSlot">
                <img id="artifactSlot6" class="artifactSlot">
                <img id="artifactSlot7" class="artifactSlot">
            </div>
        </div>
    </div>
    <div id="ascSub3" class="flexCol">
        <h3 style="color: var(--orange)">Forge</h3>
    </div>
</div>