<div id="ascensionTab" class="flexCol tabHolder">
    <h3 style="color: var(--orange)">Ascension</h3>
    <div style="margin-bottom:1vh">
        <button class="orangeButton">Ascension</button>
        <button class="orangeButton">Gemology</button>
    </div>
    <div id="ascSub0" class="flexCol">
        <div class="flexRow" style="margin-bottom: 1vh;">
            <img src="/Images/Eggs/knowlegg.png">
            <h4 id="knowleggText" style="color:var(--yellow)">Knowlegg: 0.00</h4>
        </div>
        <div class="flexCol" style="margin-bottom: 1vh;">
            <div id="legendaryResearchRow" class="flexRow">
                <button id="lr0">LegRes0</button>
                <button id="lr1">LegRes1</button>
                <button id="lr2">LegRes2</button>
                <button id="lr3">LegRes3</button>
            </div>
        </div>
    </div>
    <div id="ascSub1" class="flexCol">
        <div id="gemologyHolder" class="flexRow" style="margin-bottom:1vh;">
            <img id="gemSlot0" class="gemSlot" src="/Images/Gems/gem.png">
            <select id="gemOperations">
                <option value="0">Mutate</option>
                <option value="1">Combine</option>
                <option value="2">Absorb</option>
            </select>
            <img id="gemSlot1" class="gemSlot" src="/Images/Gems/gem.png">
            <p style="color:var(--orange)">Result =></p>
            <img id="gemSlot2" class="gemSlot" src="/Images/Gems/gem.png">
        </div>
        <p style="color:var(--orange);margin-bottom:1vh;">Reliquary</p>
        <div id="gemHolder" class="flexRow" style="margin-bottom:1vh;">
            <div class="flexCol" style="margin:1em;align-items: flex-start;">
                <div class="flexRow">
                    <img id="gem0Img" class="gemSlot">
                    <p id="gem0Text">Gem 0 - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem1Img" class="gemSlot">
                    <p id="gem1Text">Gem 1 - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem2Img" class="gemSlot">
                    <p id="gem2Text">Gem 2 - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem3Img" class="gemSlot">
                    <p id="gem3Text">Gem 3 - Boost</p>
                </div>
            </div>
            <div class="flexCol" style="margin:1em;align-items: flex-start;">
                <div class="flexRow">
                    <img id="gem4Img" class="gemSlot">
                    <p id="gem4Text">Gem 4 - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem5Img" class="gemSlot">
                    <p id="gem5Text">Gem 5 - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem6Img" class="gemSlot">
                    <p id="gem6Text">Gem 6 - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem7Img" class="gemSlot">
                    <p id="gem7Text">Gem 7 - Boost</p>
                </div>
            </div>
            <div class="flexCol" style="margin:1em;align-items: flex-start;">
                <div class="flexRow">
                    <img id="gem8Img" class="gemSlot">
                    <p id="gem8Text">Gem 8 - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem9Img" class="gemSlot">
                    <p id="gem9Text">Gem 9 - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem10Img" class="gemSlot">
                    <p id="gem10Text">Gem 10 - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem11Img" class="gemSlot">
                    <p id="gem11Text">Gem 11 - Boost</p>
                </div>
            </div>
            <div class="flexCol" style="margin:1em;align-items: flex-start;">
                <div class="flexRow">
                    <img id="gem12Img" class="gemSlot">
                    <p id="gem12Text">Gem Χ - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem13Img" class="gemSlot">
                    <p id="gem13Text">Gem Ψ - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem14Img" class="gemSlot">
                    <p id="gem14Text">Gem Ω - Boost</p>
                </div>
                <div class="flexRow">
                    <img id="gem15Img" class="gemSlot">
                    <p id="gem15Text">Gem 15 - Boost</p>
                </div>
            </div>
        </div>
    </div>
</div>