<div id="contractsTab" class="flexCol tabHolder">
    <h3>Contracts</h3>
    <div id="conSub0" class="flexCol">
        <div class="flexRow">
            <div class="contractHolder flexCol" style="border-color:var(--purple)">
                <h2 id="infContractTitle0" style="color:var(--blue)">Super Fusion</h2>
                <h4 id="infContractDesc0">Be Stuck on Fusion Egg with .25x Production</h4>
                <h4 id="infContractGoal0">Reach: $1.00e76</h4>
                <h4 id="infContractReward0">1.00 Prophecy Eggs</h4>
                <button id="infContractButton0">Start | Leave Contract</button>
            </div>
            <div class="contractHolder flexCol" style="border-color:var(--purple)">
                <h2 id="infContractTitle1" style="color:var(--blue)">Super Fusion</h2>
                <h4 id="infContractDesc1">Be Stuck on Fusion Egg with .25x Production</h4>
                <h4 id="infContractGoal1">Reach: $1.00e76</h4>
                <h4 id="infContractReward1">1.00 Prophecy Eggs</h4>
                <button id="infContractButton1">Start | Leave Contract</button>
            </div>
            <div class="contractHolder flexCol" style="border-color:var(--purple)">
                <h2 id="infContractTitle2" style="color:var(--blue)">Super Fusion</h2>
                <h4 id="infContractDesc2">Be Stuck on Fusion Egg with .25x Production</h4>
                <h4 id="infContractGoal2">Reach: $1.00e76</h4>
                <h4 id="infContractReward2">1.00 Prophecy Eggs</h4>
                <button id="infContractButton2">Start | Leave Contract</button>
            </div>
        </div>
        <p style="color:var(--red)">!Warning These Contracts will Force a Prestige Reset Upon Starting!</p>
    </div>
</div>