<div id="eggTab" class="flexCol tabHolder">
    <h3>Eggs</h3>
    <div class="flexRow">
        <div class="flexRow">
            <img id="currentEggImg" src="/Images/Eggs/egg.png">
            <h4 id="currentEggText">Current Egg: Regular</h4>
        </div>
        <p style="margin-left:1vw;margin-right:1vw;">======></p>
        <div class="flexRow">
            <img id="nextEggImg" src="/Images/Eggs/question.png">
            <h4 id="nextEggText">Next Egg: Not Discovered</h4>
        </div>
    </div>
    <div class="flexCol tabHolder">
        <h4>Discovered Eggs</h4>
        <div class="flexRow">
            <div class="flexCol flexEgg">
                <div class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/egg.png">
                    <h4 id="currentEggText">Regular Egg</h4>
                </div>
                <div id="eggHold0" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/superfood.png">
                    <h4 id="currentEggText">Superfood Egg</h4>
                </div>
                <div id="eggHold1" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/medical.png">
                    <h4 id="currentEggText">Medical Egg</h4>
                </div>
                <div id="eggHold2" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/rocketfuel.png">
                    <h4 id="currentEggText">Rocket Fuel Egg</h4>
                </div>
                <div id="eggHold3" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/supermaterial.png">
                    <h4 id="currentEggText">Super Material Egg</h4>
                </div>
                <div id="eggHold4" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/fusion.png">
                    <h4 id="currentEggText">Fusion Egg</h4>
                </div>
                <div id="eggHold5" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/quantum.png">
                    <h4 id="currentEggText">Quantum Egg</h4>
                </div>
                <div id="eggHold6" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/immortality.png">
                    <h4 id="currentEggText">Immortality Egg</h4>
                </div>
            </div>
            <div class="flexCol flexEgg">
                <div id="eggHold7" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/tachyon.png">
                    <h4 id="currentEggText">Tachyon Egg</h4>
                </div>
                <div id="eggHold8" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/graviton.png">
                    <h4 id="currentEggText">Graviton Egg</h4>
                </div>
                <div id="eggHold9" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/dilithium.png">
                    <h4 id="currentEggText">Dilithium Egg</h4>
                </div>
                <div id="eggHold10" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/prodigy.png">
                    <h4 id="currentEggText">Prodigy Egg</h4>
                </div>
                <div id="eggHold11" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/terraform.png">
                    <h4 id="currentEggText">Terraform Egg</h4>
                </div>
                <div id="eggHold12" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/antimatter.png">
                    <h4 id="currentEggText">Antimatter Egg</h4>
                </div>
                <div id="eggHold13" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/darkmatter.png">
                    <h4 id="currentEggText">Darkmatter Egg</h4>
                </div>
                <div id="eggHold14" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/ai.png">
                    <h4 id="currentEggText">AI Egg</h4>
                </div>
            </div>
            <div class="flexCol flexEgg">
                <div id="eggHold15" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/nebula.png">
                    <h4 id="currentEggText">Nebula Egg</h4>
                </div>
                <div id="eggHold16" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/universe.png">
                    <h4 id="currentEggText">Universe Egg</h4>
                </div>
                <div id="eggHold17" class="flexRow">
                    <img id="currentEggImg" src="/Images/Eggs/enlightenment.png">
                    <h4 id="currentEggText">Enlightenment Egg</h4>
                </div>
            </div>
        </div>
    </div>
    <button id="mainButton" class="redButton">Click to Hatch +1 Chicken</button>
</div>