<div id="eggpeditionTab" class="flexCol tabHolder" style="text-align:center">
    <h3 style="color:var(--blue)">Eggspeditions</h3>
    <div class="flexCol">
        <div id="planetRow">
            <img id="planet0" src="/Images/planet1.png">
            <img id="planet1" src="/Images/planet2.png">
            <img id="planet2" src="/Images/planet3.png">
        </div>
        <div id="planetRow">
            <img id="planet3" src="/Images/planet4.png">
            <img id="planet4" src="/Images/planet5.png">
            <img id="planet5" src="/Images/planet6.png">
        </div>
    </div>
    <p id="planetHoverText">Click on a planet to see what it is</p>
    <div style="margin-top:1em;margin-bottom:1em">
        <button id="discoveryButton">Discover Planet</button>
        <button id="eggspeditionButton">Go on an Eggspedition</button>
    </div>
    <p id="discoveryText">Discover Planet: Cost 50 Million Rocket Fuel Eggs</p>
    <p style="color:var(--red)">!Warning! - Journeying to any planet will cause a reset on the main farm.</p>
</div>