<div id="mainHeader" class="flexRow">
    <img id="currentEggImgHeader" src="/Images/Eggs/egg.png">
    <button id="eggPromoteButton" class="redButton promoteButton">Promote to Next Egg</button>
    <h2 id="moneyText">$0.00</h2>
    <p id="chickensText">Chickens: 0</p>
    <button id="prestigeButton" class="purpleButtonHeader">???</button>
    <button id="ascensionButton" class="orangeButtonHeader">Ascend</button>
</div>