<div id="navBar" class="flexRow" style="align-items: center;">
    <button id="tabButton0">Eggs</button>
    <button id="tabButton1">Research</button>
    <button id="tabButton2">Contracts</button>
    <button id="tabButton5" class="blueButton">Eggspeditions</button>
    <button id="tabButton4" class="purpleButton">Prestige</button>
    <button id="tabButton7" class="orangeButton">Ascension</button>
    <button id="tabButton6">Achievements</button>
    <button id="tabButton3">Settings</button>
</div>