<div id="prestigeTab" class="flexCol tabHolder">
    <h3 style="color:var(--purple)">Prestige</h3>
    <div class="flexRow">
        <img src="/Images/Eggs/soul.png">
        <h4 id="soulEggText" style="color:var(--purple)">Soul Eggs: 0.00</h4>
    </div>
    <div id="epicResearchRow" class="flexRow" style="margin-bottom: 1vh;">
        <button id="er0"></button>
        <button id="er1"></button>
        <button id="er2"></button>
    </div>
    <div id="epicResearchRow" class="flexRow" style="margin-bottom: 1vh;">
        <button id="er3"></button>
        <button id="er4"></button>
        <button id="er5"></button>
        <button id="er9"></button>
    </div>
    <div id="epicResearchRow" class="flexRow" style="margin-bottom: 1vh;">
        <button id="er6"></button>
        <button id="er7"></button>
        <button id="er10"></button>
        <button id="er8"></button>
    </div>
    <div class="flexRow">
        <button id="ba1" class="purpleButton">Buy Amount: 1</button>
        <button id="auto2"></button>
        <button id="auto4"></button>
    </div>
    <div class="flexRow">
        <img src="/Images/Eggs/prophecy.png">
        <h4 id="prophecyEggText" style="color:var(--yellow)">Prophecy Eggs: 0.00</h4>
    </div>
    <div>
        <p id="prophecyEggSoftCapText" style="color:var(--red);text-align: center;">Prophecy Egg boost is being decreased by: 1e6</p>
    </div>
</div>