<div id="settingsTab" class="flexCol tabHolder">
    <div class="flexRow" style="margin-bottom:1vh">
        <button id="setSubButton0">Settings</button>
        <button id="setSubButton1">Stats</button>
        <button id="setSubButton2">Credits</button>
        <button id="setSubButton3">Help</button>
    </div>
    <div id="setSub0" class="flexCol">
        <div class="flexRow" style="margin-bottom:1vh">
            <button id="saveButton" class="greenButton">Save Game</button>
            <button id="exportButton">Export Save</button>
            <button id="importButton">Import Save</button>
            <button id="deleteButton" class="redButton">Delete Save (Exports)</button>
        </div>
        <div class="flexRow" style="margin-bottom:1vh">
            <button id="setTog0"></button>
            <button id="setTog1"></button>
            <button id="setTog2"></button>
            <button id="setTog3"></button>
        </div>
        <div class="flexRow" style="margin-bottom:1vh">
            <button id="setTog4"></button>
            <button id="setTog5"></button>
            <button id="setTog6"></button>
        </div>
        <div class="flexRow" style="margin-bottom:1vh">
            <a style="color:var(--blue)" href="https://github.com/MrBacon470/Coop-Co">Github Repo!</a>
            <a style="color:var(--yellow)" href="https://mrbacon470.github.io/Coop-Co/changelog">Changelog!</a>
            <a style="color:var(--purple)" href="https://discord.gg/Usw4zSdW5f">Coop Co Discord!</a>
            <a style="color:var(--purple)" href="https://galaxy.click/play/37">Play on Galaxy!</a>
        </div>
        <p id="currentVersionText">Current Version: v0.0.0</p>
    </div>
    <div id="setSub1" class="flexCol">
        <h3>Stats</h3>
        <div style="display:flex;flex-direction:row;margin-right: 1vw;">
            <div style="display:flex;flex-direction:column;">
                <h4 id="stat0" style="color:var(--green)">Best Money: $0.00</h4>
                <h4 id="stat1" style="color:var(--blue)">Best Egg: Regular</h4>
                <h4 id="stat2" style="color:var(--blue)">Best Chickens: 0.00</h4>
                <h4 id="stat3" style="color:var(--blue)">Contracts Completed: 0</h4>
                <h4 id="stat4" style="color:var(--blue)">Time Played (Includes Time Away): 0</h4>
            </div>
            <div style="display:flex;flex-direction:column;margin-left: 1vw;">
                <h3>Last 3 Prestiges</h3>
                <h4 id="stat5" style="color:var(--purple)">Prestige 1: 0 Soul Eggs</h4>
                <h4 id="stat6" style="color:var(--purple)">Prestige 2: 0 Soul Eggs</h4>
                <h4 id="stat7" style="color:var(--purple)">Prestige 3: 0 Soul Eggs</h4>
                <h3>Other Prestige Stats</h3>
                <h4 id="stat9" style="color:var(--purple)">Best Soul Eggs: 0</h4>
                <h4 id="stat10" style="color:var(--yellow)">Best Prophecy Eggs: 0</h4>
                <h4 id="stat8" style="color:var(--blue)">Time in Current Prestige: 0</h4>
            </div>
        </div>
    </div>
    <div id="setSub2" class="flexCol">
        <h3>Programmers</h3>
        <div style="flex-direction:row;">
            <div style="flex-direction:column">
                <div class="credit">
                    <img src="https://avatars.githubusercontent.com/u/72811949?s=64&v=4">
                    <a>VoidCloud</a>
                </div>
                <div class="credit">
                    <img src="https://avatars.githubusercontent.com/u/20068737?s=64&v=4">
                    <a>Dimava</a>
                </div>
                <div class="credit">
                    <img src="https://avatars.githubusercontent.com/u/26186257?s=64&v=4">
                    <a>Gazyn</a>
                </div>
                <div class="credit">
                    <img src="https://avatars.githubusercontent.com/u/71836730?s=64&v=4">
                    <a>Gapples2</a>
                </div>
                <div class="credit">
                    <img src="https://avatars.githubusercontent.com/u/61973821?s=60&v=4">
                    <a>MrRedShark77</a>
                </div>
                <div class="credit">
                    <img src="https://avatars.githubusercontent.com/u/627469?s=64&v=4">
                    <a>AkumaNoTsubasa</a>
                </div>
                <div class="credit">
                    <img src="https://avatars.githubusercontent.com/u/84931788?s=60&v=4">
                    <a>Jakub</a>
                </div>
            </div>
        </div>
    </div>
    <div id="setSub3" class="flexCol">
        <h4>Coop Co Help Menu</h4>
        <button class="accordion">Production</button>
        <div class="panel">
            <p>Coop Co's main currency is <span style="color:var(--green)">$$$</span> which is generated based off the egg's value, current chicken count and egg laying rate.</p>
        </div>
        <button class="accordion"><span style="color:var(--gray)">Common</span> Research</button>
        <div class="panel">
            <p>The main upgrade system of Coop Co is the standard <span style="color:var(--gray)">Common</span> Research which is purchased with <span style="color:var(--green)">$$$</span>, and costs increase quite rapidly at some point you may be able to automate its purchasing.</p>
        </div>
        <button id="help0" class="accordion"><span style="color:var(--purple)">Prestige</span></button>
        <div class="panel">
            <p><span style="color:var(--purple)">Prestige</span> is the first main reset of the game that unlocks at Rocket Fuel Eggs, <span style="color:var(--purple)">Prestige</span> rewards <span style="color:var(--purple)">Soul Eggs</span> on reset which can be used in <span style="color:var(--purple)">Epic</span> Researches and they provide a special earnings boost based off of best <span style="color:var(--purple)">Prestige</span> rewards <span style="color:var(--purple)">Soul Eggs</span> and current <span style="color:var(--purple)">Prestige</span> rewards <span style="color:var(--purple)">Soul Eggs</span>.</p>
        </div>
        <button id="help1" class="accordion"><span style="color:var(--purple)">Epic</span> Research</button>
        <div class="panel">
            <p><span style="color:var(--purple)">Epic</span> Research is the second set of researches in game, they provide special permanent bonuses, automation for boring tasks and QoL things to keep you sane at the cost of  <span style="color:var(--purple)">Soul Eggs</span></p>
        </div>
        <button id="help2" class="accordion"><span style="color:var(--blue)">Eggspeditions</span></button>
        <div class="panel">
            <p><span style="color:var(--blue)">Eggspeditions</span> add 6 discoverable planets each with their own egg, special challenge and boost reward, it is recommended to start with the Chicken Gain Boost planet first as the price to discover planets increases rapidly.</p>
        </div>
        <button id="help3" class="accordion">Contracts</button>
        <div class="panel">
            <p>Contracts are a simple system they force a reset on your farm and you're stuck in the contract's assigned egg until you reach the <span style="color:var(--green)">$$$</span> goal, upon successfully completing a contract you will recieve <span style="color:var(--yellow)">Prophecy Eggs</span> which boost contract rewards, difficulty and provide a massive multiplicative boost to <span style="color:var(--purple)">Soul Eggs</span>.</p>
        </div>
        <button class="accordion">Achievements</button>
        <div class="panel">
            <p>Coop Co achievements are the best way to keep track of your progress through the game, they don't provide any boosts or special unlocks (for now) but they give a "sense" of accomplishment.</p>
        </div>
        <button id="help4" class="accordion"><span style="color:var(--orange)">Ascension</span></button>
        <div class="panel">
           <p><span style="color:var(--orange)">Ascension</span> is the 2nd major reset of Coop Co and it resets all previous progress in the game in exchange for <span style="color:var(--yellow)">Knowleggs</span> (funny egg pun), which can be used for the next tier of research, <span style="color:var(--orange)">Legendary</span> Research. Don't be dismayed if you don't see anything in <span style="color:var(--orange)">Ascension</span> yet as you progress through the research you'll unlock more new content & QoL features.</p>
        </div>
        <button id="help5" class="accordion"><span style="color:var(--orange)">Legendary</span> Research</button>
        <div class="panel">
            <p><span style="color:var(--orange)">Legendary</span> Research much like <span style="color:var(--purple)">Epic</span> Research, gives special permanent bonuses, Automators and QoL Upgrades in exchange for your precious <span style="color:var(--yellow)">Knowleggs</span>.</p>
        </div>
        <button id="help6" class="accordion"><span style="color:var(--orange)">Artifacts</span> & <span style="color:var(--orange)">Harvesters</span></button>
        <div class="panel">
            <p><span style="color:var(--orange)">Artifacts</span> are unlocked later in <span style="color:var(--orange)">Ascension</span> as you've now noticed. Artifacts are gained through Harvesting the planets you Unlocked during <span style="color:var(--blue)">Eggspeditions</span>. Constructing & Upgrading <span style="color:var(--orange)">Harvesters</span> costs the chickens from its specific planet. Low level harvesters can only find the lowest quality artifacts but as they get upgraded you will get higher yields and better artifacts. As well your low tier artifacts can be used to craft higher tier artifacts. Now a note most Artifacts do not work on the Enlightenment Egg but there is a way to allow them to work on that Egg you'll unlock it later.</p>
        </div>
        <button id="help7" class="accordion"><span style="color:var(--orange)">Gems</span></button>
        <div class="panel">
            <p><span style="color:var(--orange)">Gems</span> are the last things you'll unlock during <span style="color:var(--orange)">Ascension</span>, they are quite powerful as unlike Artifacts you can use as many of any kind of Gem as you want as long as you have enough of them stored. Now obviously to balance the highest tier Gems are very expensive, but you'll get there! Now a quirk of Gems is much like artifacts they don't work on the Enlightenment Egg unless they are attached to an Artifact that directly affects the Enlightenment Egg.</p>
        </div>
    </div>
</div>
</div>

<style is:inline>
.credit {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.credit img {width: 1.5em; height: 1.5em; margin-right:1em;}
.credit a {text-align: center; font-size: 1.2em;}

.accordion {
    background-color: var(--bg-color);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 5px;
    width: 50em;
    padding: 18px;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    border: 2px solid var(--white);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--bg-color)
} 
 
.panel {
    padding: 0 18px;
    width: 39em;
    border: 2px solid var(--white);
    border-radius: 5px;
    background-color: var(--bg-color);
    display: none;
}

.accordion:after  {
    content: '\25B2'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\25BC"; /* Unicode character for "minus" sign (-) */
}
</style>